#box {
    background-color: #5b5e7e;
    height: 250px;
    width: 650px;
    visibility: hidden;
}

body {
    background-color: #80df93;
}

#box.show {
    visibility: visible;
}

i {
    margin-top: 30px;
    float: right;
}

button {
    background-color: #b5d63e;